.sideBar
  .sideBar__upper
    .sideBar__upper__user
      .sideBar__upper__user__name
        = current_user.name
      .sideBar__upper__user__menu
        = link_to new_group_path do
          = icon('fa', 'edit', class:'sideBar__upper__user__menu--icon')
          %span<>
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog', class:'sideBar__upper__user__menu--icon')
          %span<>
  .sideBar__lower
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。